div {
  border: 1px solid black;
  min-width: 200px;
  min-height: 200px;
  padding: 40px;
}

#grandParent {
  background-color: red;
}

#parent {
  background-color: green;
}

#child {
  background-color: yellow;
}
