div {
  min-width: 200px;
  min-height: 200px;
  padding: 30px;
  border: 1px solid black;
}

#grandParent {
  background-color: red;
}

#parent {
  background-color: aqua;
}

#child {
  background-color: yellow;
}
