.container {
  width: 500px;
  height: 30px;
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.progress {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.status {
  position: absolute;
  background-color: green;
  height: 100%;
}
