body {
  text-align: center;
}

#container {
  margin: 0 auto;
  width: 300px;
  background-color: aliceblue;
}

.heading {
  margin: 10px;
}

.content {
  position: relative;
  margin-top: 10px;
  padding: 20px;
  background-color: aqua;
  display: none;
}

.content::before {
  position: absolute;
  background-color: aqua;
  content: "";
  width: 30px;
  height: 30px;
  border-top: 2px solid aqua;
  border-left: 2px solid aqua;
  transform: rotate(45deg);
  top: -13px;
}

.display {
  display: block;
}
